<form action="/articles" method="POST">
<ul>
<li>
  <label for="title">Title</label>
  <input id="title" type="text" name="title" />
</li>
<li>
  <label for="content">Content</label>
  <textarea id="content" type="text" name="content">
  </textarea>
</li>
</ul>
<input type="submit" value="submit"/>
</form>