<h1><%= @article.title %></h1>
<p><%= @article.content %> 

<form method="POST" action="/articles/<%= @article.id %>">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" />
</form>